<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../../bower_components/login-fire/login-fire.html">

<dom-module id="my-login">
	<template>
		<style include="shared-styles.html">
			:host {
				display: block;

				padding: 10px;
			}
		</style>
		<firebase-app
		  name="login"
		  api-key="AIzaSyDhe0I0KAsPnKTm5A3koudycsHQPFuaKsQ"
		  auth-domain="techupractitioner.firebaseapp.com"
			database-url="https://techupractitioner.firebaseio.com">
		</firebase-app>

		<login-fire
		   app-name="login"
		   providers="google, facebook, twitter"
		   user="{{user}}"
		   signed-in="{{signedIn}}">
		</login-fire>

	</template>

	<script>
		class MyLogin extends Polymer.Element {
			static get is() { return 'my-login'; }
		}

		window.customElements.define(MyLogin.is, MyLogin);
	</script>
</dom-module>
